// Website theme/bootstrap

$theme-colors:(
	"primary": #03440C,
	"secondary": #386C0B,
	"white": #F3FCF0,
	);

// import bootstrap scss
@import '../../node_modules/bootstrap/scss/bootstrap';

$darkgreen: #041A0A;
$neongreen: #04E824;
$graywhite: #F3FCF0;

// ALL PAGES
.navbar {
	img {
		width: 180px;
		height: 50px;

	}
	.navbar-toggler-icon{
		 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
	.navbar-nav{

		.nav-item.active .nav-link{
			color:$white;	
			border: 1px solid $graywhite;
		}

		.nav-item .nav-link{
			color: $graywhite;

			&:active{
				// background-color: $graywhite;
				color: $darkgreen;
			}
		}
	}
}

body {
	// background-color: $graywhite;
	position: relative;
	// background: url("./../images/bg.jpg");

	 /* The image used */
  background-image: url("./../images/bg.jpg");

  /* Set a specific height */
  height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

h1 {
	text-align: center;
}

h1.landing{
	text-align: start;
}


.row {
	background-color: $graywhite;
}

.footer{
	position:absolute;
    width:100%;
	margin:0; padding:0;
	
		.container .text {
			display: flex;
		   	justify-content: space-between;
		   
			   .icons{
				   font-size: 20px;

				   .icons .link{
					   color: white;
				   }
				   
			   }

		}
	}

// LANDING PAGE or INDEX
.background{
	background-image: url("./../images/landing.jpg");
	top: 0;
    right: 0;
    // bottom: 50px;
    left: 0;
    background-size: cover;
    height: 100vh;
}

.jumbotron{
	background-color: transparent;
	.welcome{
		margin-top: 50px;
	}
}

// ABOUT PAGE

#about-page .MultiCarousel { 
	float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; 
}
    .MultiCarousel .MultiCarousel-inner { 
		transition: .5s ease all; float: left; 
	}
        .MultiCarousel .MultiCarousel-inner .item { 
			float: left;
		}
        .MultiCarousel .MultiCarousel-inner .item > div { 
			text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;
		}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { 
		position:absolute; border-radius:50%;top:calc(50% - 20px); 
	}
    .MultiCarousel .leftLst { 
		left:0; 
	}
    .MultiCarousel .rightLst { 
		right:0; 
	}
		.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { 
			pointer-events: none; background:#ccc; 
		}

// #about-page .row {
// 	background-color: $graywhite;
// }

#about-page .clientcard{
		
		height: 200px;
		width: 150px;
		margin: 10px 0;
	}
		.card-img{
		width: 100px;
}	
		
// SERVICE PAGE
#service-page .container{
	.card-btn{
		height: 250px;
		// width: 400px;
		border: none;
		// white-space: normal;
		margin: 5px;
	}

	.card-img{
		height: 250px;
		width: 400px;
		padding: 0;
	}

	.card-img :hover{
		opacity: 0.5;
		cursor: pointer;
	}

	.card-img-overlay{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

// PROJECTS PAGE
#projects-page .container{
	.carousel-inner{
		img{
			height: 50vh;
			object-fit: cover;
		}
	}
	h4 { font-family: 'Open Sans'; margin: 0;}

	.modal,body.modal-open {
		padding-right: 0!important
	}
	
	body.modal-open {
		overflow: auto
	}
	
	body.scrollable {
		overflow-y: auto
	}
	
	// .modal-footer {
	// 	display: flex;
	// 	justify-content: flex-start;
	// 	.btn {
	// 		position: absolute;
	// 		right: 10px;
	// 	}
	// }

	.read-more-state {
		display: none;
	  }
	  
	  .read-more-target {
		opacity: 0;
		max-height: 0;
		font-size: 0;
		transition: .25s ease;
	  }
	  
	  .read-more-state:checked ~ .read-more-wrap .read-more-target {
		opacity: 1;
		font-size: inherit;
		max-height: 999em;
	  }
	  
	  .read-more-state ~ .read-more-trigger:before {
		content: 'Show more';
	  }
	  
	  .read-more-state:checked ~ .read-more-trigger:before {
		content: 'Show less';
	  }
	  
	  .read-more-trigger {
		cursor: pointer;
		display: inline-block;
		padding: 0 .5em;
		color: #666;
		font-size: .9em;
		line-height: 2;
		border: 1px solid #ddd;
		border-radius: .25em;
	  }
	  
	  /* Other style */ 
	  body {
		padding: 2%;
		// border: 1px solid $darkgreen;
	  }
	  
	  p.card-text {
		padding: 2%;
		background: #fff9c6;
		color: #c7b27e;
		border: 1px solid #fce29f;
		border-radius: .25em;
	  }
	
	}

// CONTACT PAGE
#contact-page .mapouter{
	position:relative;
	text-align:right;
	height:505px;
	width:454px;
}
	.gmap_canvas {
		overflow:hidden;
		background:none!important;
		height:505px;
		// width:454px;
	}